
<nav>
  <ul>
    <li>
      <input type="text" name="" id="" class="consulta" placeholder="Consultar pokemon">
    </li>
  </ul>
</nav>
<section>
    <div class="content-pokemons">
      <div class="card" *ngFor="let pok of pokemons">
        <div class="card-head">
          <h4>{{pok.name}} - {{pok.id}}</h4>
        </div>
        <div class="card-body">
          <div class="types" >
            <label *ngFor="let tp of pok.type">{{tp}}</label>
          </div>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{pok.id}}.svg" alt="img" width="50%">
        </div>
      </div>
    </div>

    <div class="content-button">
      <button class="load-more" (click)="carregarMais()">
        Carregar Mais
      </button>
    </div>

</section>

<div class="content-load" *ngIf="loding">
  <div class="bg-loading">
    <div class="loader">

    </div>
  </div>
</div>